<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/cloudsim4/examples/org/cloudbus/cloudsim/examples/power/random/ThrRs.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.cloudbus.cloudsim.examples.power.random.ThrRs"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="cloudsim4"/>
</launchConfiguration>
